<ion-header>
  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      PizzApp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <button ion-button (click)="presentPrompt()"> Ajouter un utilisateur </button>
  <button ion-button (click)="goToProducts()"> Liste des produits </button>
  <!-- goToProducts est la fonction déclarer pour la redirection -->
  <div padding text-center>
    The world is Pizza
  </div>
  

</ion-content>