<!--
  Generated template for the MyProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes Produits</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="firstname && lastname; else elseBlock">
    <p> Voici la liste de nos produits :
      {{ firstname }} {{ lastname | allLetterUpperCase }}</p>
  </div>


  <ng-template #elseBlock>

  <!-- <ion-segment [(ngModel)]="relationship" color="dark">
        <ion-segment-button value="categories" (ionSelect)="back-products">
          Pizza
        </ion-segment-button>
        <ion-segment-button value="categories" (ionSelect)="back-products">
          Boissons
        </ion-segment-button>
        <ion-segment-button value="categories" (ionSelect)="back-products">
          Desserts
        </ion-segment-button>
    </ion-segment> -->

    <ion-segment [(ngModel)]="pizza">
      <ion-segment-button value=" {{category.id }}" *ngFor="let category of categories" (ionSelect)="openSelect($event)">
        {{ category.name }}
      </ion-segment-button>
    </ion-segment>

    <p> Liste de nos produits :</p>

    <ion-card>
      <div *ngFor="let p of products">
        <img src="{{p.image}}" class="productCard" />
        {{p.name}}
      </div>
    </ion-card>
  </ng-template>

</ion-content>