<ion-menu [content]="content">

  <ion-content padding>

    <h4> Menu </h4>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>